{{#if listado.length }}
    {{#each listado}}
    <a href="" class="card" onclick="agregarCarrito(event,'{{id}}',this)">
        <article class="card__article">
                    <div
                        class="card__image"
                        style="background-image: url('{{foto}}')"
                    >
                    </div>
                    <div class="card__content">
                        <h3 class="card__heading">{{nombre}}</h3>
                        <div class="card__description">
                            <p>{{detalles}}</p>
                        </div>
                        <br>
                        <button type="submit" class="submits__slide">
                        <div>
                            Comprar!
                        </div>
                        <i class="icon-arrow-right"></i>
                    </button>
                    </div>
                </article>
    </a>
    {{/each}}
{{else}}
    <h2>No se encontraron productos</h2>
{{/if}}